# Nginx configuration

server
{
    listen 8080;
    listen [::]:8080;
    root /var/www/html/api/public;
    index index.php index.html;
    #server_name localhost;

    charset utf-8;

    location /
    {
        include /etc/nginx/includes/proxy.conf;
        proxy_pass http://cn5006-dashboard:8080;
    }

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    sendfile off;

    client_max_body_size 100m;

    # Deny direct access
    location ~ /(\.ht|\.git|cp|composer.json|package.json|storage\/logs\/cockpit.log|storage\/data\/)
    {
        deny all;
    }
}
